@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable overscroll glow */
html, body {
  overscroll-behavior-x: none;
}

/* Reduce mobile scroll indicator behavior */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar fully */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  height: 0;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html,
body {
  overflow-x: hidden;
}
